    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Clubpedia</p>
            <nav id="footer-nav">
                <ul>
                    <li><a href="/about">About Us</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
        </div>
    </footer>
</body>
</html>