<footer>
  <div class="footer-content">
    <p>&copy; 2025 Clubpedia</p>
    
    <nav id="footer-nav">
      <ul>
        <li><a href="/about">About Us</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <!-- Wrap icons in a new container -->
    <div class="social-icons">
      <a href=""><i class="fa-brands fa-twitter"></i></a>
      <a href=""><i class="fa-brands fa-facebook"></i></a>
    </div>
  </div>
</footer>
