<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage - Clubpedia</title>
    <link rel="stylesheet"  type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <a href="/"><img src="/images/logo.png"  alt="Clubpedia Logo" id="logo" width="150"></a>
        <nav id="login-nav">
            <ul>
                <li><a href="../events/new/">New Event</a></li>
                <li><a href="">Sign Up</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </header>
    <nav id="main-nav">
        <ul>
            <li><a href="/events/">Events</a></li>
        </ul>
    </nav>
    