<%-include('./partials/header.ejs')%>
    
    <main>
            <h2>Welcome to Clubpedia</h2>
            <p id="main-p">Clubpedia has been around since 2025 and has been developed by yours truly, Virac Bou.
            </p>
            
   
    </main>
<%-include('./partials/footer.ejs')%>