<%-include('./partials/header.ejs')%>
    
    <main>
            <h2>Welcome to Clubpedia</h2>
            <p id="main-p">
                Contact us at 704-444-4444 for customer service. <br> <br>
                We are also located at 9201 University City Blvd.
            </p>
            
   
    </main>
<%-include('./partials/footer.ejs')%>