<%-include('./partials/header.ejs')%>
    
    <main>
            <h2>Welcome to Clubpedia</h2>
            <p id="main-p">
                Contact us at <strong>704-444-4444</strong> for customer service. <br> <br>
                We are also located at <strong>9201 University City Blvd</strong>.
            </p>
            
   
    </main>
<%-include('./partials/footer.ejs')%>