<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder Event - Clubpedia</title>
    <link rel="stylesheet"  type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <a href="index.html"><img src="/images/logo.png"  alt="Clubpedia Logo" id="logo" width="150"></a>
        <nav id="login-nav">
            <ul>
                <li><a href="newEvent.html">New Event</a></li>
                <li><a href="">Sign Up</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </header>
    <nav id="main-nav">
        <ul>
            <li><a href="events.html">Events</a></li>
        </ul>
    </nav>
    
    <main>
            <h2>Upcoming Events</h2>
            <p>Discover exciting events happening near you or create your own to share with the community. </p>
            <ul id="event-list">
                <li>
                    <h3>Clubbing</h3>
                    <ul>
                        <li>
                            <p><a href="event.html">Emo Nite</a></p>
                            <p><a href="event.html">Kpop Club Night</a></p>
                            <p><a href="event.html">Shrek Night</a></p>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Concerts</h3>
                    <ul>
                        <li>
                            <p><a href="event.html">Katseye</a></p>
                            <p><a href="event.html">Pierce The Veil</a></p>
                            <p><a href="event.html">Breakaway</a></p>
                        </li>
                    </ul>
                </li>
            </ul>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Clubpedia</p>
            <nav id="footer-nav">
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
        </div>
    </footer>
</body>
</html>