<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Placeholder Event - Clubpedia</title>
    <link rel="stylesheet"  type="text/css" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <header>
        <a href="index.html"><img src="/images/logo.png"  alt="Clubpedia Logo" id="logo" width="150"></a>
        <nav id="login-nav">
            <ul>
                <li><a href="newEvent.html">New Event</a></li>
                <li><a href="">Sign Up</a></li>
                <li><a href="">Login</a></li>
            </ul>
        </nav>
    </header>
    <nav id="main-nav">
        <ul>
            <li><a href="events.html">Events</a></li>
        </ul>
    </nav>
    
    <main>
            <h1>Katseye 
                <a href=""><i class="fa-solid fa-pen-to-square"></i></a>
                <a href=""><i class="fa-solid fa-trash"></i></a>
            </h1>
            <div class="event-details">
                <div class="col-25">
                    <img src="/images/event-banner.jpg" alt="Event Banner" id="event-banner">
                </div>
                <div class="col-75">
                    <p><strong>Host:</strong> Geffen Records</p>
                    <p><strong>Date and Time:</strong> Mon, July 6, 2026. 8:00pm - 11:00 pm</p>
                    <p><strong>Location:</strong> Spectrum Center</p>
                    <p><strong>Details:</strong> Katseye is finally touring the United States. Get your tickets now!</p>
                </div>
            </div>
    </main>
    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Clubpedia</p>
            <nav id="footer-nav">
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Contact</a></li>
                </ul>
            </nav>
            <a href=""><i class="fa-brands fa-twitter"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
        </div>
    </footer>
</body>
</html>