<%-include('./partials/header.ejs')%>
    
    <main>
            <h2>Upcoming Events</h2>
            <p>Discover exciting events happening near you or create your own to share with the community. </p>
            <ul id="event-list">
                <li>
                    <h3>Clubbing</h3>
                    <ul>
                        <li>
                            <p><a href="event.html">Emo Nite</a></p>
                            <p><a href="event.html">Kpop Club Night</a></p>
                            <p><a href="event.html">Shrek Night</a></p>
                        </li>
                    </ul>
                </li>
                <li>
                    <h3>Concerts</h3>
                    <ul>
                        <li>
                            <p><a href="event.html">Katseye</a></p>
                            <p><a href="event.html">Pierce The Veil</a></p>
                            <p><a href="event.html">Breakaway</a></p>
                        </li>
                    </ul>
                </li>
            </ul>
    </main>
    <%- include('../partials/footer.ejs')%>
