<%-include('./partials/header.ejs')%>
    
    <main>
            <h2>Welcome to Clubpedia</h2>
            <p id="main-p">Plan, organize, and create social partying events. Whether you're looking for a heavy metal moshpit type of show 
                to a more laid-back acoustic set, Clubpedia has you covered.
                Our platform allows you to create events, invite friends, and manage your social gatherings with ease. <br> <br>
                Check out the events section to see what's happening near you, or create your own event to share with the community.
            </p>
            
   
    </main>
<%-include('./partials/footer.ejs')%>