


body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #000c72;
    color: white;
    padding: 5px;
}

#logo {
    max-width: 100px;
    height: auto;
    padding-left: 40px;
}

#login-nav {
    background-color: #000c72;
    color: white;
    padding: 20px 10px;
    float: right
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

li {
    display: inline;
}

nav a:hover {
    text-decoration: underline;
}

#main-nav {
    background-color: #000c72;
    color: white;
    padding: 20px 0px;
    text-align: left;
    border-top: #e8bbf6 2px solid;
}

main {
    padding: 20px 100px 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 80px;;
}

aside {
    background-color: #eaeaea;
    padding: 15px;
    margin: 20px 0;
}

footer {
    background-color: #000c72;
    color: white;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: start; 
    align-items: center;
    flex-wrap: wrap; 
    padding: 5px 5px 5px 5px;
}

.footer-content p {
    padding: 0px 80px 0px 0px;
}

#footer-nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#footer-nav a {
    text-decoration: none;
    color: #666;
}

section p {
    line-height: 20px;
}


.row {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px; 
    margin-top: 10px;
    align-items: center; 
  }
  
  .col-25 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  
  .col-75 {
    flex: 1;
  }
  

  select,
  input[type="text"],
  input[type="datetime-local"],
  textarea,
  input[type="file"],
  button[type="submit"] {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  

  label {
    display: block;
    font-weight: bold;
    padding: 12px 0;
  }
  

  button[type="submit"] {
    background-color: #000c72;
    color: white;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #3333a2;
  }
  
 
  @media screen and (max-width: 600px) {
    .row {
      flex-direction: column;
    }
  
    .col-25,
    .col-75 {
      max-width: 100%;
      flex: 1 0 100%;
    }
  
    label {
      padding-bottom: 0;
    }
  }
  

